<div class="jumbotron about-howto">
  <div class="container">
    <h3>About PokéTrader</h3>
    <p>Connecting Pokémon traders so that everyone can collect them all.</p>
    <br/>
    <img class='fl' src=<%=image_url("collection_manager_244x195.png") %> />
    <div class='fl-text'>
      <h4>Your Collection</h4>
      <span>Once you're signed in, click "My Collection" from the navigation bar. Pokémon added to your collection will be viewable in the general trading pool for all traders to see.</span>
      <br/><br/>
      <span>You can remove a pokémon from your collection if you later decide not to trade it away. If it's already involved in a trade, cancel the trade first from the Trade Viewer.</span>
    </div>
    <div class="clearfix"></div>
    <br/>
    <img class='fr' src=<%=image_url("trade_viewer.png") %>/>
    <div class='fl-text'>
      <h4>Monitoring Your Trades</h4>
      <span>The Trade Viewer will show any trade you're currently involved in. If someone has proposed a trade with you, their available pokémon will appear. If you see one you like, click the "Choose" button. Congratulations! You have successfully made a trade!</span>
      <br/><br/><span>Note: the pokémon you traded for will not show up in your collection, as it is assumed that you don't want to trade away your newly acquired pokémon.</span>
      <br/><br/><%= link_to 'Sign up now!', new_user_registration_path %>
    </div>
  </div>
</div>
<div class="about-stack">
  <div class="container">
    <h3>PokéTrader Details</h3>
    <p>This app uses the wonderful 
      <a href='http://pokémontcg.io/' target='_blank'>Pokémon TCG API</a> to retrieve data for Pokémon TCG, Base Set 2. Many thanks to the <a href='https://github.com/PokemonTCG' target='_blank'>developers</a> who made this project possible.
    </p>
    <p>Backend is powered by Rails, with front end rendered with React.js (via react-rails).</p>
    <p>This is a <a href='http://www.freecodecamp.com' target='_blank'>freeCodeCamp</a> project built by <a href='https://s.codepen.io/yuzu-r/debug/KMWNOo/bYrdyYxogGKA' target='_blank'>yuzu-r</a>.</p>
  </div>
</div>